/*
body {
	height: 100%;
	margin: 0;
	padding: 0;
	position: fixed;
}
*/
h1 {
    border-bottom: 1px solid grey;
    padding-bottom: 4px;
}

td {
	margin: 5px;
	border: 1px solid black;
	border-collapse: collapse;
  	max-height: 10px;
}

table {
	width: 100%;
}

input {
	margin-top: 5px;
	margin-bottom: 2px;
}

button:hover {
	cursor: pointer;
}

#tableContainer {
	margin-top: 2em;
	margin-bottom: 2em;
	height: 15em;
	overflow: auto;
	border: 1px solid black;	
}

.removeIcon {
	margin-left: .5em;
	margin-right: 1em;
}
.removeIcon:hover {
	cursor: pointer;
	opacity: 0.5;
	transition-duration: 0.15s;
}
.content {
	padding-left: 12em;
	width: 40em;
}

.URLForm {
	width: 100%;
}

#menu {
	width: 10em;
	background-color: #26292E;
	height: 100%;
	position: fixed;
}

.pure-menu {
	padding-top: 2em;
}

.pure-menu-item {
	padding-top: 1em;
	padding-left: 1em;
	padding-bottom: 1em;
}

.pure-menu-item:hover {
	cursor: pointer;
	transition: background-color;
	transition-duration: 0.15s;
	background-color: grey;
}
.pure-menu-item span {
	color: #C1C1B4;
	font: message-box;
}

.pure-menu-selected {
	background: grey !important;
	background-color: grey;
	border-style: none none none solid;
	border-left-color: #0288D1;
}