
span {
  font-size: 1.9rem;
}
#top {
  border-bottom: 1px solid grey;
  min-height: 3.5em;
  min-width: 13em;
}
#bottom {
  align-content: center;
  min-height: 2em;
  min-width: 13em;
}

#settings {
  width: 2em;
  height: 2em;
}

#settings:hover {
  cursor: pointer;
  filter: invert(50%);
}

#addURLSwitch:hover {
  cursor: pointer;
}